
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

.intro {
    background-image: none;
}

.download-section {
    background-image: none;
}

#directoryContent > ul > li,
#favContainer > ul > li
{
    cursor: pointer;
}

ol > .active :after {
    padding: 0 5px;
    color: #777777;
    content: "/\00a0";
    text-decoration: none;
}

.deletable {
    color: #973634 !important;
    border: 1px solid #973634 !important;
}

.deletable:hover, .deletable:focus {
    color: #d7d7d7 !important;
}

.editable {
    color: #323232;
    border: 1px solid #323232 !important;
}

.btn {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-default {
    border: 2px solid #42dca3;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
}

.btn-love {
    font-size: 12px;
    border: 1px solid darkred;
    color: darkred;
    background-color: transparent;
}

.btn-love:hover,
.btn-love:focus {
    color: whitesmoke;
    background-color: darkred;
    border: 1px solid darkred;
}

.btn-love-o {
    font-size: 12px;
    color: darkred;
    background-color: transparent;
}

.btn-love-o:hover,
.btn-love-o:focus {
    color: whitesmoke;
    background-color: darkred;
    border: 1px solid darkred;
}

.btn-save {
    font-size: 12px;
    border: 2px solid #2e6da4;
    color: #f0f0f0;
    background-color: transparent;
}

.btn-save:hover,
.btn-save:focus {
    border: 2px solid #347bb8;
    outline: 0;
    color: #f0f0f0;
    background-color: #347bb8;
}

.buttons-print {
    margin-bottom: 15px;
}

.btn-print {
    font-size: 12px;
    border: 2px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-print:hover,
.btn-print:focus {
    font-size: 12px;
    border: 2px solid #42dca3;
    color: #333333;
    background-color: #42dca3;
}

.btn-download {
    color: #25a06f;
    background-color: transparent;
    border: 2px solid #2fa97f;
    font-size: 14px;
    margin-right: 10px;
}

.btn-download:hover,
.btn-download:focus {
    color: #000;
    background-color: #42dca3;
    border: 2px solid #42dca3;
    font-size: 14px;
    margin-right: 10px;
}

.btn-delete {
    font-size: 12px;
    border: 2px solid #d7241a;
    color: #f0f0f0;
    background-color: transparent;
}

.btn-delete:hover,
.btn-delete:focus {
    border: 2px solid #d7241a;
    outline: 0;
    color: #f0f0f0;
    background-color: #d7241a;
}

.btn-edit {
    font-size: 12px;
    border: 2px solid #2c28d8;
    outline: 0;
    color: #2c28d8;
    font-weight: 700;
    background-color: transparent;
}

.btn-edit:hover,
.btn-edit:focus {
    font-size: 12px;
    border: 2px solid #2c28d8;
    outline: 0;
    color: #FFFFFF;
    background-color: #2c28d8;
}

.btn-redirect {
    font-size: 12px;
    border: 2px solid #4d56e9;
    outline: 0;
    color: #000;
    background-color: transparent;
}

.btn-redirect:hover,
.btn-redirect:focus {
    font-size: 12px;
    border: 2px solid #4d56e9;
    outline: 0;
    color: #fff;
    background-color: #4d56e9;
}

.btn-default-arny,
.btn-default-arny:focus:disabled,
.btn-default-arny:hover:disabled {
    font-size: 12px;
    border: 2px solid #2c28d8;
    color: #2c28d8;
    background-color: transparent;
}

.btn-default-arny:hover:enabled,
.btn-default-arny:focus:enabled {
    border: 2px solid #2c28d8;
    outline: 0;
    color: #c7c7c7;
    background-color: #2c28d8;
}

.home {
    padding-top: 85px;
    padding-bottom: 50px;
}

.panel {
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel > table {
    color: #1f1f1f;
}

.panel-dir-browser {
    overflow: hidden;
}

.panel-body, .list-group-item > p {
    color: #1f1f1f;
}

.main-page-panel {
    min-height: 50vh !important;
}

.panel-dir-browser > .panel-body, .no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.form-control {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item > p, label > p, .list-group-item > p > b, .panel-body > p {
    font-size: 14px;
    margin-bottom: auto;
}

.bounce, .fadeInRight, .fadeOut, .fadeInDown, .fadeOutUp {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    animation-delay: 0s;
    animation-duration: 0.5s;
}

.fav-icon {

    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;

    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.fadeIn {
    -webkit-animation-duration: 1s !important;
    -moz-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
}

li > div > div > p {
    padding: 0 0 0 10px;
    display: inline;
    font-size: 14px;
}

li > a {
    color: #40a372;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

li > span {

}

.empty-title {
    color: #aaa;
}

#directoryContent > ul > li > .row > div > a,
#favContainer > ul > li > .row > div > a
{
    color: #003300 !important;
}

.active > a  {
    color: #6c6c6c !important;
}

.breadcrumb > li+li:before {
    color: #777777;
}

.createButtonContainer {
	margin-bottom: 20px;
    height: 40px;
}

#codeEditor {
	height: 25vh; /* TODO: change this code Editor size for mobile phones! */
}

.table-section {
    margin-top: 45px;
}

.cell-main-text {
    display: inline;
    font-size: 15px;
}

.spin {
    -webkit-animation: mySpin 2s infinite linear;
    animation: mySpin 2s infinite linear;
}

@-webkit-keyframes mySpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes mySpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.threeTimes {
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
}

.twoTimes {
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
}

.selected, .selected:hover {
    background-color: #337ab7;
    color: #f0f0f0;
}

.form-control > div {
    overflow: hidden;
}

#cron_id {
    margin-top: 5px;
}

table {
    color: #1f1f1f;
    background-color: #fafafa;
}

.details {
    font-size: 14px;
}

#graphContainer {
    height: 60vh !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #202020;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #000 !important;
    cursor: default;
    background-color: #42dca3;
    border-color: #fff
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
.pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #ccc;
    border-color: #ddd
}

.modal-title, .modal-footer {
    color: #1f1f1f;
}

.modal-body {
    color: #0f0f0f;
}

.navbar-toggle {
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
}

.navbar-toggle > .icon-bar {
    color: #f0f0f0;
    background-color: #f0f0f0;
}

input::selection, textarea::selection {
    background: #0f0f0f;
    color: #f0f0f0;
}

.action-group {
    height: 26px;
}

.left-border {
    border-left: 1px solid #d7d7d7;
}

.row .action-group {
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.row:hover > .action-group {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.container-fluid {
    max-width: 1480px;
}

.fc-title {
    font-size: 12px;
}

#snapshotCalendar {
    margin: 0 auto;
}
