{% extends '@Frontend/base.html.twig' %}

{% block mainView %}
    <div class="col-sm-12">
	<div class="col-sm-12">
	    <h2>The following Query is invalid, please review it.</h2>
	    <small>Message: {{description}}</small>
	</div>
        <div class="col-sm-12">
	    {{ queryHTML | raw}}
	</div>
    </div>
    <div class="col-sm-12">
	<a href="/" class="btn btn-primary">Back to Main</a>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}