{% extends '@Frontend/base.html.twig' %}

{% block mainView %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>There was an unexpected error</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ errorMessage }}
            </div>
        </div>
    </div>
{% endblock %}