{% extends '@Frontend/base.html.twig' %}

{% block mainView %}
    <div class="col-sm-12">
        <div class="col-sm-12">
            <!-- title -->
            <h3>About QCharts</h3>
        </div>
        <div class="col-sm-12">
            <!-- body -->
            <article>
                <p>
                    Query Charter was my internship project.
                    Query Charter aims to aid the understanding of data by creating a graphical
                    solution to the data. So the user can understand it better and faster.
                </p>
                <p>
                    Query Charter uses Highcharts to display information in a visual way, benefiting directly
                    from all the features it offers.
                    As well Query Charter uses Ace Code Editor, to add color syntax and Syntax formatting,
                    and for displaying the Query in a more understandable way the Query is formatted with
                    Sqlformatter.

                </p>
                <p>
                    <address>
                        <strong>Arnulfo Solis</strong><br/>
                        <a href="mailto:arnulfojr@kuzzy.com">arnulfojr@kuzzy.com</a>
                    </address>
                </p>
            </article>
        </div>
    </div>
{% endblock %}