{% extends '@Frontend/base.html.twig' %}

{% block mainView %}
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2>User Administration</h2>
        </div>
        <div class="col-sm-12">
            <p>For promoting or demoting registered users, clicked over the desired user, to toggle their role</p>
        </div>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-condensed" id="users">
                </table>
            </div>
        </div>
    </div>

    <script>

        var userManager = new UserManager($.ajax, undefined, '', "{{ url('qcharts.api.user_roles_get') }}");

        userManager.initTable();
        userManager.bindClick();

    </script>

{% endblock %}

{% block js %}

    {% javascripts '@FrontendBundle/Resources/public/js/general/Classes.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@FrontendBundle/Resources/public/js/table/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@FrontendBundle/Resources/public/qcharts/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css' %}
    <link rel="stylesheet" href="{{asset_url}}"/>
    {% endstylesheets %}
{% endblock %}