{% extends '@Frontend/base.html.twig' %}

{% block mainView %}
    <div class="col-sm-12">
	    <h2>The requested Query is invalid, please review link.</h2>
	    <p>{{description}}</p>
    </div>
    <div class="col-sm-12">
	<a href="/query/edit/{{queryId}}" class="btn btn-edit" style="color: #f0f0f0;">Edit query</a>
    </div>
{% endblock %}

{% block stylesheets %}
	{% stylesheets '@FrontendBundle/Resources/public/css/general/*' %}
		<link rel="stylesheet" href="{{asset_url}}"/>
	{% endstylesheets %}
{% endblock %}