/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #1f1f1f;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

#directoryContent > ul > li,
#favContainer > ul > li
{
    cursor: pointer;
}

ol > .active :after {
    padding: 0 5px;
    color: #777777;
    content: "/\00a0";
    text-decoration: none;
}

.deletable {
    color: #973634 !important;
    border: 1px solid #973634 !important;
}

.deletable:hover, .deletable:focus {
    color: #d7d7d7 !important;
}

.editable {
    color: #323232;
    border: 1px solid #323232 !important;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    /*-webkit-transition: all .4s ease-in-out;*/
    /*-moz-transition: all .4s ease-in-out;*/
    /*transition: all .4s ease-in-out;*/
}

.btn-default {
    font-size: 12px;
    border: 2px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 2px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

.btn-love {
    font-size: 12px;
    border: 1px solid darkred;
    color: darkred;
    background-color: transparent;
}

.btn-love:hover,
.btn-love:focus {
    color: whitesmoke;
    background-color: darkred;
    border: 1px solid darkred;
}

.btn-love-o {
    font-size: 12px;
    color: darkred;
    background-color: transparent;
}

.btn-love-o:hover,
.btn-love-o:focus {
    color: whitesmoke;
    background-color: darkred;
    border: 1px solid darkred;
}

.btn-default-arny,
.btn-default-arny:focus:disabled,
.btn-default-arny:hover:disabled {
    font-size: 12px;
    border: 2px solid #2c28d8;
    color: #2c28d8;
    background-color: transparent;
}

.btn-default-arny:hover:enabled,
.btn-default-arny:focus:enabled {
    border: 2px solid #2c28d8;
    outline: 0;
    color: #c7c7c7;
    background-color: #2c28d8;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    -webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.panel > table {
    color: #1f1f1f;
}

.list-group-item > p, label > p, .list-group-item > p > b, .panel-body > p {
    font-size: 14px;
    margin-bottom: auto;
}

.panel-body, .list-group-item > p {
    color: #1f1f1f;
}

.modal-title, .modal-footer {
    color: #1f1f1f;
}

.navbar-toggle {
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
}

.navbar-toggle > .icon-bar {
    color: #f0f0f0;
    background-color: #f0f0f0;
}

.btn-save {
    font-size: 12px;
    border: 2px solid #2e6da4;
    color: #f0f0f0;
    background-color: transparent;
}

.btn-save:hover,
.btn-save:focus {
    border: 2px solid #347bb8;
    outline: 0;
    color: #f0f0f0;
    background-color: #347bb8;
}

.buttons-print {
    margin-bottom: 15px;
}

.btn-print {
    font-size: 12px;
    border: 2px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-print:hover,
.btn-print:focus {
    font-size: 12px;
    border: 2px solid #42dca3;
    color: #333333;
    background-color: #42dca3;
}

.btn-download {
    color: #25a06f;
    background-color: transparent;
    border: 2px solid #2fa97f;
    font-size: 14px;
    margin-right: 10px;
}

.btn-download:hover,
.btn-download:focus {
    color: #000;
    background-color: #42dca3;
    border: 2px solid #42dca3;
    font-size: 14px;
    margin-right: 10px;
}

.btn-delete {
    font-size: 12px;
    border: 2px solid #d7241a;
    color: #f0f0f0;
    background-color: transparent;
}

.btn-delete:hover,
.btn-delete:focus {
    border: 2px solid #d7241a;
    outline: 0;
    color: #f0f0f0;
    background-color: #d7241a;
}

.btn-edit {
    font-size: 12px;
    border: 2px solid #2c28d8;
    outline: 0;
    color: #000;
    font-weight: 700;
    background-color: transparent;
}

.btn-edit:hover,
.btn-edit:focus {
    font-size: 12px;
    border: 2px solid #2c28d8;
    outline: 0;
    color: #FFFFFF;
    background-color: #2c28d8;
}

.btn-redirect {
    font-size: 12px;
    border: 2px solid #4d56e9;
    outline: 0;
    color: #000;
    background-color: transparent;
}

.btn-redirect:hover,
.btn-redirect:focus {
    font-size: 12px;
    border: 2px solid #4d56e9;
    outline: 0;
    color: #fff;
    background-color: #4d56e9;
}


input::selection, textarea::selection {
    background: #0f0f0f;
    color: #f0f0f0;
}

.modal-body {
    color: #0f0f0f;
}

.action-group {
    height: 26px;
}

.panel-dir-browser > .panel-body, .no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.left-border {
    border-left: 1px solid #d7d7d7;
}

.row .action-group {
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.row:hover > .action-group {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.container-fluid {
    max-width: 1480px;
}

.fc-title {
    font-size: 12px;
}

#snapshotCalendar {
    margin: 0 auto;
}
