{% extends '@Frontend/base.html.twig' %}

{% block title %}
    <title>About QCharts</title>
{% endblock %}

{% block mainView %}
    <div class="col-sm-12">
        <div class="article-container">
            <div class="col-sm-12">
                <!-- title -->
                <h3>About QCharts</h3>
            </div>
            <div class="col-sm-12">
                <!-- body -->
                <article>
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <div class="col-sm-5">
                            {% image '@FrontendBundle/Resources/public/images/ude-logo_en.png' %}
                            <img src="{{ asset_url }}" class="img-responsive pull-right" alt="Duisburg-Essen Uni logo"/>
                            {% endimage %}
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            {% image '@FrontendBundle/Resources/public/images/trivago_logo.png' %}
                            <img src="{{ asset_url }}" class="img-responsive" alt="Duisburg-Essen Uni logo"/>
                            {% endimage %}
                        </div>
                    </div>
                    <p>
                        QCharts is my internship project, designed to aid the process of analysis of data in a more
                        interactive way and still keeping performance to its maximum,
                        trying to deeply unify and ease the richness of diversity from having multiple sources of data and
                        its proper requested visual interaction. And to empower with a useful tool al they way from
                        power-users to everyday-simple-users.

                    </p>
                    <p>
                        By having the base knowledge instructed by my University and the right guidance of trivago's
                        engineers I could slide with ease into the design and development of the QCharts project.
                    </p>
                    <p>
                        QCharts, on the other hand explores the fields of not only software engineering but on
                        user experience, giving the benefit to the users to see and feel what they are analysing, and to
                        get a grip on what the data represents.
                        Offering tools that will make their data scheduling more ease and fluent, making the
                        remote servers stress free on heavy data loads and dense traffic.
                    </p>
                    <p>
                        By means of software engineering, I got the opportunity to get guidance on the learning and
                        unveiling of web development's technologies. Going all the way from backend and frontend. From PHP,
                        the language itself, to the Symfony framework, which powers QCharts. From simple tools for the
                        development to the design of the project.
                        But the most important thing, to learn the good practices and be aware of the bad practices,
                        to lose myself and get back on it.
                    </p>
                    <p>
                        QCharts uses Highcharts to display information in a visual way, benefiting directly
                        from all the features it offers.
                        As well QCharts uses Ace Code Editor and SqlFormatter, to add color syntax and syntax formatting,
                        for displaying the query in a more understandable way.
                        QCharts, is influenced by the idea of how Blazer works. I would like to say thanks to them for
                        developing a very robust and steady piece of software in Ruby language.
                    </p>
                    <p>
                        Down below, in the References I attach a link to QCharts Git Repository where you can find
                        installation instructions, how to use and requirements about QCharts. Feel free to contact me
                        for any doubt you have related to QCharts, as well as if you wish a new feature. I appreciate all
                        the support I was given from all the parties involved. Feel free to play around with QCharts and
                        hope you have fun with it!
                    </p>
                </article>
            </div>
            <div class="col-sm-12">
                <h4>References</h4>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>
                            <a href="http://tiny.cc/trivagoU" target="_blank">trivagoU</a>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.uni-due.de/en/">Universit&auml;t Duisburg-Essen</a>
                        </td>
                        <td>
                            My University!
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/ankane/blazer" target="_blank">Blazer Git</a>
                        </td>
                        <td>
                            Blazer Git repository. Blazer is an open-source business intelligence web application
                            that allows you to explore SQL data with ease.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/arnulfojr/qcharts" target="_blank">QCharts Git</a>
                        </td>
                        <td>
                            QCharts Git repository, here you can find information of installing and up-to-date
                            information about the project.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://fullcalendar.io/">FullCalendar</a>
                        </td>
                        <td>
                            FullCalendar is a jQuery library used in QCharts to present time based events in the
                            frontend side.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.datatables.net/">DataTables</a>
                        </td>
                        <td>
                            JQuery library used project wide for presenting the information in a more organized manner
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <h4>Contact</h4>
                <address>
                    <strong>Arnulfo Solis</strong><br/>
                    <a href="https://de.linkedin.com/in/arnulfo-solís-0772ba87" target="_blank">LinkedIn</a><br/>
                    <a href="https://twitter.com/Arnulfojr">Twitter</a><br/>
                    <a href="mailto:arnulfojr@kuzzy.com">arnulfojr@kuzzy.com</a><br/>
                </address>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@FrontendBundle/Resources/public/css/about/about.css' %}
    <link rel="stylesheet" href="{{asset_url}}"/>
    {% endstylesheets %}
{% endblock %}